@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  width: 100%;
  height: 100%;
  line-height: initial;
}

#__next {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
p,
input {
  margin: initial;
  font-size: initial;
}

input::placeholder {
  font-size: initial;
}
