@import "./variables.scss";

.inputContainer {
  margin: 2em 0;
  position: relative;
  label {
    display: block;
    text-transform: capitalize;
    font-size: 0.8em;
    font-weight: $semiBold;
  }

  input {
    border: 1px solid $neutralGrayLight;
    outline: none;
    width: 100%;
    padding: 0.9em;
    border-radius: 8px;
    margin: 0.5em 0;
    font-size: 0.9em;

    &::placeholder {
      font-size: 0.9em;
      padding: initial;
    }
  }

  .inputIcon {
    cursor: pointer;
    position: absolute;
    right: 6%;
    bottom: 25%;
  }
}

.variant2 {
  .inputContainer {
    margin: initial;

    input {
      background: #edeef2;
      border-radius: 12px;
    }

    .inputIcon {
      bottom: 32%;
    }
  }
}
