@import "./variables.scss";

.loginContainer {
  width: 100%;
  height: 100%;
  display: flex;

  .loginForm {
    height: 100%;
    width: 45%;
    padding: 1em 10vw;

    @media only screen and (max-width: $desktopMedium) {
      padding: 1em 4vw;
      width: 30%;
    }

    @media only screen and (max-width: $mobile) {
      width: 75%;
      margin: 0 auto;
    }

    @media only screen and (max-width: $mobileMedium) {
      width: 90%;
      margin: 0 auto;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .logo {
      width: 6em;
    }

    .loginDetail {
      h1 {
        font-size: 4em;
        font-weight: $bold;
      }

      p {
        color: $neutralGrayDark;
        font-weight: $regular;
      }

      .errMsg {
        color: red;
        text-transform: capitalize;
        font-size: 0.9em;
        font-weight: $semiBold;
        margin: 1em 0;

        text-align: center;
      }

      .loginBtn {
        width: 100%;
        button {
          border: none;
          cursor: pointer;
          text-transform: capitalize;
          width: 100%;
          color: $neutralWhite;
          font-weight: $bold;
          background: $primaryDefault;
          box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
          border-radius: 8px;
          padding: 1em 0;
          font-size: 1em;
        }
      }

      .forgotPass {
        margin: 2em 0;
        text-align: center;
      }
    }

    .link {
      color: $primaryDefault;
      font-weight: $bold;
    }

    .signupSection {
      text-align: center;
      font-weight: $regular;
      color: $neutralGrayDark;
    }
  }
}
