// colors
$primaryDefault: #4e60ff;
$primaryLight: #f3f4ff;
$primaryLightest: #f8f9ff;
$primaryHover: #697bff;
$neutralWhite: #ffffff;
$neutralBlack: #2b2b43;
$neutralGray: #83859c;
$neutralGrayDark: #545563;
$neutralGrayLight: #c7c8d2;
$neutralGrayLightest: #edeef2;

// font weight
$regular: 400;
$semiBold: 600;
$bold: 700;

// screen sizes

$desktopMedium: 1200px;
$desktopSmall: 900px;
$mobile: 800px;
$mobileMedium: 600px;
